@import "../../styles/scss/mixins"; 

body {
    overflow-x: hidden;
}

#none {
    display: none;
}

.none {
    display: none;
}

#menu-background {
    position: fixed;
    top: 0;
    background: #00000090;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#blackscreen {
    z-index: 10;
    left: 0;
    @extend #menu-background
}

nav {
    width: 100vw;
    @include flex-center__vertically(space-evenly);
    overflow-x: hidden;

    ul {
        list-style: none;
    }

    #nav-main-wrapper {
        width: 80%;
        margin: 0;
        height: 4rem;
        @include flex-center__vertically(space-between);
        list-style: none;
        border-bottom: 2px solid #E8E7EC;

        #logo {
            width: 8rem;
            height: 1.4rem;
            background: url("../../assets/logo.png") no-repeat top center / contain;
        }
        
        #logo-links__wrapper {
            @include flex-center__vertically(center);

            #cart-wrapper {
                position: absolute;
                width: 10rem;
                height: 10rem;
                top: 0;
                right: 0;
                
            }

            #menu-wrapper {
                position: fixed;
                z-index: 100;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
            
                    #menu {
                        list-style: none;
                        position: absolute;
                        color: #000;
                        top: 0;
                        height: 100vh;
                        width: 65%;
                        background-color: #fff;

                        div {
                            margin-left: 2rem;
                            margin-top: 1.5rem;
                        }

                        #cross {
                            margin: 1.5rem 0 0.5rem 0.5rem;
                        }
                    
                        a {
                            @include links-default;
                            font-weight: 600;
                    }
                }
            }

            #menu-wrapper-hidden {
                position: absolute;
                transform: translateX(-100vw);
                transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
                @extend #menu-wrapper
            }

            #logo {
                margin: 0;
            }

            #hamburger {
                display: none;
            }

            @media screen and (max-width: 730px) {
                .nav__links {
                    display: none;
                }
        
                #hamburger {
                    display: block;
                    margin-right: 2rem;
                }
            }

            & .nav__links {
                

                & a {
                    padding-bottom: 1.25rem;
                    margin-left: 2rem;
                    @include links-default;

                    &:hover {
                        border-bottom: 2px solid #FE7D1F;
                    }
                }
            }

        }
    }

    @media screen and (max-width: 900px) {
        #nav-main-wrapper {
            width: 95%;
            border-bottom: none;
        }
    }

    
    #cart-avatar__wrapper {
        @include flex-center__vertically(center);

        & li {
            margin-left: 2rem;
        }

        #avatar {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            background: url("../../assets/image-avatar.png") no-repeat center center / contain;
        }
    }
}