#product-info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
}

@media screen and (max-width: 758px) {
  #product-info-wrapper {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}

#product-info-wrapper #product-heading {
  margin-top: 3rem;
}

#product-info-wrapper #product-heading h1 {
  line-height: 4rem;
}

#product-info-wrapper #product-heading h5 {
  color: #FE7D1F;
}

#product-info-wrapper #product-info {
  margin: 1rem 0 0 0;
}

#product-info-wrapper #product-info #info-paragraph {
  color: #797A7E;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

#product-info-wrapper #product-info #pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  margin-top: 1rem;
}

#product-info-wrapper #product-info #pricing #discount {
  margin-left: 1rem;
  padding: 0.25rem 0.5rem;
  background: #FFF1E6;
  color: #FE7D1F;
  border-radius: 15%/15%;
}

#product-info-wrapper #product-info #price {
  color: #797A7E;
  text-decoration: line-through;
  margin-top: 0.5rem;
}

#product-info-wrapper #product-quantity-cart-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  width: 80%;
  margin-top: 1.5rem;
}

@media screen and (max-width: 460px) {
  #product-info-wrapper #product-quantity-cart-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

#product-info-wrapper #product-quantity-cart-wrapper #product-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #F7F8FD;
  border-radius: 5%/15%;
  padding: 1rem;
  margin-right: 1rem;
}

@media screen and (max-width: 460px) {
  #product-info-wrapper #product-quantity-cart-wrapper #product-quantity {
    width: 100%;
    margin-bottom: 1rem;
    margin-right: 0;
    border-radius: 2%/14%;
  }
}

#product-info-wrapper #product-quantity-cart-wrapper #product-quantity #plus, #product-info-wrapper #product-quantity-cart-wrapper #product-quantity #minus {
  width: 0.7rem;
  height: 0.7rem;
  margin: 0 0 0  1.5rem;
}

#product-info-wrapper #product-quantity-cart-wrapper #product-quantity #minus {
  margin: 0  1.5rem 0 0;
}

#product-info-wrapper #product-quantity-cart-wrapper #cart-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 5%/15%;
  background: #FE7D1F;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  color: #fff;
}

@media screen and (max-width: 460px) {
  #product-info-wrapper #product-quantity-cart-wrapper #cart-wrapper {
    width: 100%;
    border-radius: 2%/14%;
  }
}

#product-info-wrapper #product-quantity-cart-wrapper #cart-wrapper #cart-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
}
/*# sourceMappingURL=ProductInfo.css.map */